<!-- JavaScript files
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/modernizr.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/template.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/isotope.pkgd.min.js"></script>

		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/jquery.magnific-popup.min.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/jquery.appear.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="http://govwizely.github.io/export/javascripts/jquery.countTo.js"></script>

		<!-- Parallax javascript -->
		<script src="http://govwizely.github.io/export/javascripts/jquery.parallax-1.1.3.js"></script>
